In [1]:
import pandas as pd
import numpy as np

# Data : 1 'House Rental Data'
### 1. Load rental data with first column as index column (Solved)

In [16]:
house_rental = pd.read_csv('https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/house_rental_data.csv.txt',index_col='Unnamed: 0')
house_rental.head()

       Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom  Price
1  1177.698      2           7        2            2         2  62000
2  2134.800      5           7        4            2         2  78000
3  1138.560      5           7        2            2         1  58000
4  1458.780      2           7        3            2         2  45000
5   967.776     11          14        3            2         2  45000

### 2. Find all houses which has more than 2 bedroom and price less than 50k

In [17]:
house_rental[(house_rental.Bedroom > 2) & (house_rental.Price < 50000)].sample(10)

         Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom  Price
597   989.124      9          12        3            2         2  42000
188  1352.040      5           5        3            2         2  36000
162  1565.520      2           6        3            2         1  45000
611  1067.400      6          14        3            2         1  43000
63   1423.200      5           7        3            2         2  45000
318  1476.570      6           6        3            2         2  49999
522   818.340      4           5        3            2         1  21000
560  1334.250      5          11        3            2         2  38000
547  1352.040      9          13        3            2         2  48000
648  1376.946      6           7        3            2         1  36000

In [18]:
house_rental.loc[[560,547,611]] # Cross Check

        Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom  Price
560  1334.25      5          11        3            2         2  38000
547  1352.04      9          13        3            2         2  48000
611  1067.40      6          14        3            2         1  43000

### 3. Find all houses which has more than 3 bedroom and price less than 50k. Update their price with 60k

In [19]:
Q3DF = house_rental[(house_rental.Bedroom > 3) & (house_rental.Price < 50000)]
Q3DF.head()

         Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom  Price
13   1352.040      9          19        4            2         2  39000
62    889.500      2           4        4            1         1  32000
78   1522.824      5          12        4            2         2  40000
81   1558.404      5           7        4            2         2  48800
137  1921.320      4           7        4            2         2  48000

In [25]:
def updatePrice(r):
    if (r.Bedroom > 3) & (r.Price < 50000):
        return 60000
    else:
        return r.Price
house_rental['Price'] = house_rental.apply(updatePrice , axis=1)

In [26]:
# cross Check
house_rental[(house_rental.Bedroom > 3) & (house_rental.Price == 60000)].head(10)

         Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom    Price
13   1352.040      9          19        4            2         2  60000.0
62    889.500      2           4        4            1         1  60000.0
78   1522.824      5          12        4            2         2  60000.0
81   1558.404      5           7        4            2         2  60000.0
88   1779.000      7          12        4            2         2  60000.0
95   2170.380      5           7        4            2         2  60000.0
137  1921.320      4           7        4            2         2  60000.0
146  1245.300      5           6        4            2         2  60000.0
173  1921.320      4           7        4            2         2  60000.0
182  1487.244      6           7        4            2         2  60000.0

### 4. Find no of house who's price is updated in previous question.

In [24]:
Q3DF.shape # DataFrame of question NO. 3.

(23, 7)

### 5. Find average price of house.

In [28]:
house_rental.Price.mean()

62621.71317829457

### 6. Find average price of house respective to bedroom.
#### example : avg price of house of 1 bedroom then 2 ...so on

In [29]:
house_rental.Bedroom.value_counts()

3    239
4    161
2    161
1     69
5     13
7      1
6      1
Name: Bedroom, dtype: int64

In [33]:
for i in range(1,8):
    avg = house_rental[house_rental.Bathroom == i].Price.mean()
    print("Avg cost for house with ",i," bedroom. :" ,avg)

Avg cost for house with  1  bedroom. : 37972.26262626263
Avg cost for house with  2  bedroom. : 66821.35492227979
Avg cost for house with  3  bedroom. : 107422.91304347826
Avg cost for house with  4  bedroom. : 150300.0
Avg cost for house with  5  bedroom. : 137500.0
Avg cost for house with  6  bedroom. : nan
Avg cost for house with  7  bedroom. : nan

In [34]:
#Cross Check
house_rental[house_rental.Bathroom == 1].Price.mean()

37972.26262626263

In [35]:
house_rental[house_rental.Bathroom == 2].Price.mean()

66821.35492227979

In [32]:
house_rental[house_rental.Bathroom == 3].Price.mean()

107422.91304347826

In [36]:
house_rental[house_rental.Bathroom == 4].Price.mean()

150300.0

In [37]:
house_rental[house_rental.Bathroom == 5].Price.mean()

137500.0

In [40]:
house_rental[house_rental.Bathroom == 6]

Empty DataFrame
Columns: [Sqft, Floor, TotalFloor, Bedroom, Living.Room, Bathroom, Price]
Index: []

In [41]:
house_rental[house_rental.Bathroom == 7]

Empty DataFrame
Columns: [Sqft, Floor, TotalFloor, Bedroom, Living.Room, Bathroom, Price]
Index: []

### 7. Find details of house whose price is highest.

In [42]:
house_rental[house_rental.Price == house_rental.Price.max()]

        Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom     Price
289  3504.63     13          14        2            2         2  250000.0

### 8. Sort the given data by price in ascending order

In [45]:
house_rental.sort_values(by=['Price'], inplace=True)
house_rental[450:460] #Cross Check at Random index

         Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom    Price
442  1423.200      3           7        3            2         2  68000.0
304  2134.800      2           6        3            2         2  68000.0
396  1540.614      6          14        4            2         2  69000.0
593  1832.370      9          16        4            2         2  69000.0
518  1889.298     18          21        3            2         2  69500.0
605  1355.598      5          19        2            2         2  69999.0
386  1996.038      5          12        3            2         2  70000.0
92   2063.640      5           7        4            2         2  70000.0
91   1992.480      5          12        3            2         2  70000.0
90   2312.700      7          15        4            2         2  70000.0

### 9. Display all details of house with 1 bedroom first then 2 bedroom.. and so on.
####  Note use Groupby then describe

In [60]:
house_gb_bd = house_rental.groupby(['Bedroom'])

In [61]:
house_gb_bd.describe()

          Sqft                                                         \
         count         mean         std       min       25%       50%
Bedroom
1         69.0   704.896522  325.237204   359.358   523.026   640.440
2        161.0  1095.090522  498.594814   434.076   740.064   925.080
3        239.0  1675.862661  730.002273   651.114  1184.814  1458.780
4        161.0  1945.916609  502.503797   857.478  1572.636  1889.298
5         13.0  2808.630462  795.128143  1579.752  2312.700  2700.522
6          1.0  5856.468000         NaN  5856.468  5856.468  5856.468
7          1.0  4198.440000         NaN  4198.440  4198.440  4198.440

                             Floor             ... Bathroom       Price  \
              75%       max  count       mean  ...      75%  max  count
Bedroom                                        ...
1         782.760  2134.800   69.0   6.304348  ...      1.0  3.0   69.0
2        1423.200  3558.000  161.0   6.024845  ...      2.0  3.0  161.0
3        1908.867  5760.402  239.0   5.640167  ...      2.0  4.0  239.0
4        2138.358  3255.570  161.0   5.689441  ...      2.0  5.0  161.0
5        3202.200  4643.190   13.0  10.769231  ...      4.0  4.0   13.0
6        5856.468  5856.468    1.0   7.000000  ...      5.0  5.0    1.0
7        4198.440  4198.440    1.0  15.000000  ...      4.0  4.0    1.0

                                                                              \
                  mean           std       min       25%       50%       75%
Bedroom
1         35549.086957  11101.949542   13000.0   26000.0   35000.0   43000.0
2         47131.689441  23138.981748   11900.0   35000.0   43500.0   55000.0
3         65030.949791  39100.727939    6100.0   40000.0   50000.0   78500.0
4         80288.937888  26562.966327   50000.0   60000.0   73000.0   98000.0
5        117000.000000  50071.615379   55000.0   80000.0  100000.0  145000.0
6        180000.000000           NaN  180000.0  180000.0  180000.0  180000.0
7        180000.000000           NaN  180000.0  180000.0  180000.0  180000.0


              max
Bedroom
1         67000.0
2        250000.0
3        225000.0
4        160000.0
5        206000.0
6        180000.0
7        180000.0

[7 rows x 48 columns]

In [63]:
house_gb_bd.head() # Cross Check

         Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom     Price
288  1661.586     10          12        1            1         1   50000.0
11    668.904      4          11        1            1         1   31000.0
238   587.070      5           7        1            1         1   36000.0
612   711.600      8          12        1            2         1   30000.0
617   889.500      5           9        1            1         1   43000.0
575   498.120     11          14        2            1         1   40000.0
437   949.986      5          12        2            1         1   43000.0
234  1469.454      6           7        2            2         2   75000.0
523   711.600      1           4        2            2         3   42000.0
479  1672.260     10          12        2            1         2   45000.0
447  1127.886     11          12        3            2         2  150000.0
629  1245.300      1          14        3            2         2   55000.0
197  1779.000      2           9        3            2         2   55000.0
358  1031.820     11          14        3            2         2   61000.0
25   3664.740     19          19        3            2         3  200000.0
79   1540.614      6          14        4            2         2   89900.0
225  2963.814      2          25        4            2         2   95000.0
280  1814.580      6          14        4            2         2   90000.0
152  1779.000     10          13        4            2         2   97999.0
168  1789.674     10          12        4            2         2   88000.0
303  3664.740      9          13        5            1         2  206000.0
302  2700.522     15          21        5            2         4  100000.0
390  2227.308      2           5        5            2         2  100000.0
108  3202.200     12          12        5            3         3   80000.0
570  2383.860      1           7        5            3         3   60000.0
576  5856.468      7          21        6            2         5  180000.0
625  4198.440     15          19        7            3         4  180000.0

### 10. Display all details of each house with 1 bedroom first then 2 bedroom.. and so on.

In [67]:
house_rental.sort_values(by=['Bedroom'], inplace=True)
house_rental #Cross Check at Random index

         Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom     Price
288  1661.586     10          12        1            1         1   50000.0
580   693.810      2           7        1            1         1   33000.0
11    668.904      4          11        1            1         1   31000.0
238   587.070      5           7        1            1         1   36000.0
612   711.600      8          12        1            2         1   30000.0
520   587.070      5           7        1            1         1   36000.0
459  1391.178      1           7        1            3         3   50000.0
355   540.816      5          11        1            1         1   29500.0
250   882.384     10          14        1            1         1   48800.0
416   523.026      2          12        1            1         1   29000.0
579   533.700      7           7        1            1         1   28800.0
292   640.440     14          14        1            1         1   43000.0
456   640.440      2           5        1            1         1   28000.0
228   590.628      8           9        1            2         1   45000.0
472   925.080      7          10        1            2         1   28000.0
248  1106.538      3          12        1            2         1   50000.0
617   889.500      5           9        1            1         1   43000.0
164   572.838     14          14        1            1         1   43000.0
214   384.264      2           9        1            1         1   35000.0
440   768.528      6           7        1            1         1   45000.0
69    462.540      6          14        1            1         1   27500.0
594   782.760     10          14        1            0         1   31000.0
8     757.854      5          14        1            0         1   48000.0
491   754.296      2           9        1            1         1   35000.0
159   900.174     10          21        1            2         1   50000.0
372   640.440      8           9        1            2         1   45000.0
208  2134.800      2          13        1            2         2   58000.0
313  1245.300      3          12        1            2         1   35000.0
57    640.440      5           7        1            1         1   36000.0
423   469.656      7           7        1            1         1   34000.0
..        ...    ...         ...      ...          ...       ...       ...
299  1579.752     10          12        4            1         1   65000.0
44   1352.040      1           4        4            2         2   65000.0
90   2312.700      7          15        4            2         2   70000.0
81   1558.404      5           7        4            2         2   60000.0
92   2063.640      5           7        4            2         2   70000.0
10   1423.200      4           5        4            2         2   65000.0
88   1779.000      7          12        4            2         2   60000.0
396  1540.614      6          14        4            2         2   69000.0
97   1956.900      6          17        4            2         2   66000.0
146  1245.300      5           6        4            2         2   60000.0
285  1419.642      6          12        4            2         2   50000.0
242  2006.712      3           7        4            2         2   68000.0
593  1832.370      9          16        4            2         2   69000.0
536  1757.652      6           7        4            2         3   65000.0
371  1732.746      8          12        4            2         2   65000.0
142  3323.172     19          21        5            3         4  140000.0
331  2892.654     19          21        5            3         4  170000.0
303  3664.740      9          13        5            1         2  206000.0
108  3202.200     12          12        5            3         3   80000.0
570  2383.860      1           7        5            3         3   60000.0
55   4643.190      1           6        5            4         4  180000.0
21   2490.600     19          21        5            3         4  140000.0
360  2312.700      7          16        5            2         3   55000.0
511  2028.060     12          12        5            1         1   89000.0
340  1579.752      3          12        5            1         1   56000.0
41   3063.438     21          24        5            2         4  145000.0
390  2227.308      2           5        5            2         2  100000.0
302  2700.522     15          21        5            2         4  100000.0
576  5856.468      7          21        6            2         5  180000.0
625  4198.440     15          19        7            3         4  180000.0

[645 rows x 7 columns]

# Data : 2 'Health Care Data'
### Load rental data with first column as index column (Solved)

In [70]:
# link -- > https://github.com/edyoda/data-science-complete-tutorial/blob/master/Data/HealthCareData-1.xlsx
# click on view raw it will download file automatically in your system then you this file as syntax below
hc_df = pd.read_excel('HealthCareData1.xlsx' , index_col='S.NO')
hc_df.head()

,Age,Gender,Place(location where the patient lives),Duration of alcohol consumption(years),Quantity of alcohol consumption (quarters/day),Type of alcohol consumed,Hepatitis B infection,Hepatitis C infection,Diabetes Result,Blood pressure (mmhg),...,Indirect (mg/dl),Total Protein (g/dl),Albumin (g/dl),Globulin (g/dl),A/G Ratio,AL.Phosphatase (U/L),SGOT/AST (U/L),SGPT/ALT (U/L),USG Abdomen (diffuse liver or not),Predicted Value(Out Come-Patient suffering from liver cirrosis or not)
S.NO,,,,,,,,,,,,,,,,,,,,,
1,55,male,rural,12,2,branded liquor,negative,negative,YES,138/90,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
2,55,male,rural,12,2,branded liquor,negative,negative,YES,138/90,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
3,55,male,rural,12,2,branded liquor,negative,negative,YES,138/90,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
4,55,male,rural,12,2,branded liquor,negative,negative,NO,138/90,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
5,55,female,rural,12,2,branded liquor,negative,negative,YES,138/90,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES

In [84]:
hc_df.columns

Index(['Age', 'Gender', 'Place(location where the patient lives)',
       'Duration of alcohol consumption(years)',
       'Quantity of alcohol consumption (quarters/day)',
       'Type of alcohol consumed', 'Hepatitis B infection',
       'Hepatitis C infection', 'Diabetes Result', 'Blood pressure (mmhg)',
       'Obesity', 'Family history of cirrhosis/ hereditary', 'TCH', 'TG',
       'LDL', 'HDL', 'Hemoglobin  (g/dl)', 'PCV  (%)',
       'RBC  (million cells/microliter)', 'MCV   (femtoliters/cell)',
       'MCH  (picograms/cell)', 'MCHC  (grams/deciliter)', 'Total Count',
       'Polymorphs  (%) ', 'Lymphocytes  (%)', 'Monocytes   (%)',
       'Eosinophils   (%)', 'Basophils  (%)', 'Platelet Count  (lakhs/mm)',
       'Total Bilirubin    (mg/dl)', 'Direct    (mg/dl)',
       'Indirect     (mg/dl)', 'Total Protein     (g/dl)', 'Albumin   (g/dl)',
       'Globulin  (g/dl)', 'A/G Ratio', 'AL.Phosphatase      (U/L)',
       'SGOT/AST      (U/L)', 'SGPT/ALT (U/L)',
       'USG Abdomen (diffuse liver or  not)',
       'Predicted Value(Out Come-Patient suffering from liver  cirrosis or not)'],
      dtype='object')

### 1. Display all the information respective to gender.

In [71]:
hc_df_gb_gender = hc_df.groupby(['Gender'])

In [72]:
hc_df_gb_gender.describe()

               Age                                                      \
             count       mean        std   min   25%   50%   75%   max
Gender
female       195.0  52.543590  10.852901  32.0  48.0  55.0  60.0  80.0
female        11.0  53.181818  10.934516  35.0  47.5  54.0  54.0  72.0
male         739.0  50.115020   8.109617  35.0  44.0  50.0  56.0  70.0
transgender    5.0  47.000000   0.000000  47.0  47.0  47.0  47.0  47.0

            Duration of alcohol consumption(years)             ...  \
                                             count       mean  ...
Gender                                                         ...
female                                       195.0  21.102564  ...
female                                        11.0   5.909091  ...
male                                         739.0  20.698241  ...
transgender                                    5.0  20.000000  ...

            SGOT/AST      (U/L)        SGPT/ALT (U/L)                        \
                            75%    max          count       mean        std
Gender
female                     90.0  204.0          195.0  80.384615  50.356060
female                    110.0  110.0           11.0  70.000000   0.000000
male                       96.0  204.0          739.0  56.646820  21.690569
transgender                64.0   64.0            5.0  36.000000   0.000000


              min   25%   50%   75%    max
Gender
female       24.0  44.0  60.0  89.0  216.0
female       70.0  70.0  70.0  70.0   70.0
male         23.0  40.0  48.0  73.0  108.0
transgender  36.0  36.0  36.0  36.0   36.0

[4 rows x 208 columns]

In [110]:
# Cleanning Data
def f(d):
    if (d == 'female') | (d == 'female '):
        return 'female'
    else:
        return d
hc_df.Gender = hc_df.Gender.map(f)

In [111]:
hc_df.Gender.value_counts()

male           739
female         206
transgender      5
Name: Gender, dtype: int64

In [114]:
hc_df.groupby(['Gender']).describe()

               Age                                                     \
             count      mean        std   min   25%   50%   75%   max
Gender
female       206.0  52.57767  10.831359  32.0  48.0  55.0  60.0  80.0
male         739.0  50.11502   8.109617  35.0  44.0  50.0  56.0  70.0
transgender    5.0  47.00000   0.000000  47.0  47.0  47.0  47.0  47.0

            Duration of alcohol consumption(years)             ...  \
                                             count       mean  ...
Gender                                                         ...
female                                       206.0  20.291262  ...
male                                         739.0  20.698241  ...
transgender                                    5.0  20.000000  ...

            SGOT/AST      (U/L)        SGPT/ALT (U/L)                        \
                            75%    max          count       mean        std
Gender
female                    110.0  204.0          206.0  79.830097  49.042294
male                       96.0  204.0          739.0  56.646820  21.690569
transgender                64.0   64.0            5.0  36.000000   0.000000


              min   25%   50%    75%    max
Gender
female       24.0  44.0  60.0  88.75  216.0
male         23.0  40.0  48.0  73.00  108.0
transgender  36.0  36.0  36.0  36.00   36.0

[3 rows x 208 columns]

In [112]:
hc_df_gb_gender.head()

,Age,Gender,Place(location where the patient lives),Duration of alcohol consumption(years),Quantity of alcohol consumption (quarters/day),Type of alcohol consumed,Hepatitis B infection,Hepatitis C infection,Diabetes Result,Blood pressure (mmhg),...,Indirect (mg/dl),Total Protein (g/dl),Albumin (g/dl),Globulin (g/dl),A/G Ratio,AL.Phosphatase (U/L),SGOT/AST (U/L),SGPT/ALT (U/L),USG Abdomen (diffuse liver or not),Predicted Value(Out Come-Patient suffering from liver cirrosis or not)
S.NO,,,,,,,,,,,,,,,,,,,,,
1,55,male,rural,12,2,branded liquor,negative,negative,YES,138/90,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
2,55,male,rural,12,2,branded liquor,negative,negative,YES,138/90,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
3,55,male,rural,12,2,branded liquor,negative,negative,YES,138/90,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
4,55,male,rural,12,2,branded liquor,negative,negative,NO,138/90,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
5,55,female,rural,12,2,branded liquor,negative,negative,YES,138/90,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
6,55,male,urban,12,2,branded liquor,negative,negative,YES,138/90,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
51,49,female,rural,20,2,country liquor,Positive,negative,YES,110/70,...,1.7,6.5,3.2,2.8,1.214,151.0,48,88,YES,YES
52,50,female,rural,20,2,country liquor,Positive,negative,YES,110/70,...,1.7,6.5,3.2,2.8,1.214,151.0,48,88,YES,YES
53,49,female,rural,20,2,country liquor,Positive,Positive,YES,110/70,...,1.7,6.5,3.2,2.8,1.214,151.0,48,88,YES,YES
54,49,female,rural,20,2,country liquor,Positive,negative,YES,110/70,...,1.7,6.5,3.2,2.8,1.214,151.0,48,88,YES,YES
743,47,transgender,urban,20,2,country liquor,negative,negative,YES,136/82,...,2.2,6.5,3.2,3.6,NaN,156.0,64,36,YES,YES
768,47,transgender,rural,20,2,country liquor,negative,negative,YES,136/82,...,2.2,6.5,3.2,3.6,NaN,156.0,64,36,YES,YES
773,47,transgender,urban,20,2,both,negative,negative,YES,136/82,...,2.2,6.5,3.2,3.6,NaN,156.0,64,36,YES,YES
778,47,transgender,urban,20,2,country liquor,negative,negative,YES,136/82,...,2.2,6.5,3.2,3.6,NaN,156.0,64,36,YES,YES
783,47,transgender,urban,20,2,country liquor,negative,negative,YES,136/82,...,2.2,6.5,3.2,3.6,NaN,156.0,64,36,YES,YES
931,45,female,rural,5,3,country liquor,Positive,Positive,NO,110/70,...,2.0,5.9,4.2,2.5,1.68,110.0,110,70,no,no
932,50,female,rural,5,3,country liquor,Positive,Positive,NO,110/70,...,2.0,6.9,4.5,2.5,1.8,120.0,110,70,no,no
934,35,female,urban,5,3,country liquor,Positive,Positive,NO,130/80,...,2.0,7.4,4.2,2.8,1.68,90.0,110,70,no,no
937,72,female,urban,4,3,branded liquor,negative,negative,NO,120/80,...,2.0,5.3,4.2,3.5,NaN,110.0,110,70,no,no
939,54,female,rural,9,3,country liquor,Positive,Positive,NO,110/70,...,2.0,5.9,4.2,2.5,1.8,110.0,110,70,no,no

### 2. Find all the male who is consuming alcohal more than 5 years and has diabetes result positive.

In [76]:
hc_df.describe()

,Age,Duration of alcohol consumption(years),Quantity of alcohol consumption (quarters/day),TCH,HDL,Hemoglobin (g/dl),PCV (%),RBC (million cells/microliter),MCV (femtoliters/cell),MCH (picograms/cell),...,Basophils (%),Platelet Count (lakhs/mm),Direct (mg/dl),Indirect (mg/dl),Total Protein (g/dl),Albumin (g/dl),Globulin (g/dl),AL.Phosphatase (U/L),SGOT/AST (U/L),SGPT/ALT (U/L)
count,950.000000,950.000000,950.000000,591.000000,582.000000,950.000000,920.000000,398.000000,941.000000,292.000000,...,901.000000,950.000000,950.000000,895.000000,889.000000,941.000000,921.000000,940.000000,950.000000,950.000000
mean,50.632632,20.606316,5.158947,197.544839,35.486254,10.263979,33.810000,3.390704,87.651435,30.527397,...,0.498557,475.130042,4.040737,2.457542,5.590326,2.797131,3.245060,132.524468,81.794737,61.565263
std,8.808272,7.980664,22.908785,26.694968,7.982057,1.942300,5.751592,0.937089,13.844181,3.206941,...,0.712546,6515.406159,2.757443,1.093691,1.314308,2.198999,1.341187,27.462559,31.106923,31.306928
min,32.000000,4.000000,1.000000,100.000000,25.000000,4.000000,12.000000,1.000000,60.000000,24.000000,...,0.000000,0.520000,0.800000,0.200000,2.500000,0.900000,1.000000,56.000000,32.000000,23.000000
25%,44.000000,15.000000,2.000000,180.000000,30.000000,9.000000,30.000000,2.825000,78.000000,29.000000,...,0.000000,1.200000,2.700000,2.000000,4.800000,2.000000,2.500000,110.000000,59.000000,41.000000
50%,50.000000,20.000000,2.000000,194.000000,35.000000,10.000000,35.000000,3.500000,87.000000,30.000000,...,0.000000,1.420000,3.700000,2.300000,6.000000,2.500000,3.100000,130.000000,74.000000,49.000000
75%,57.000000,26.000000,3.000000,210.000000,38.000000,11.500000,38.000000,4.000000,94.000000,31.000000,...,1.000000,1.700000,4.200000,3.000000,6.400000,3.000000,4.000000,150.000000,96.000000,76.000000
max,80.000000,45.000000,180.000000,296.000000,81.000000,15.900000,48.000000,5.700000,126.000000,41.000000,...,4.000000,90000.000000,25.000000,6.600000,8.300000,22.000000,30.000000,206.000000,204.000000,216.000000

In [79]:
hc_df[(hc_df.Gender == 'male') & (hc_df['Duration of alcohol consumption(years)'] > 5) & (hc_df['Diabetes Result'] == 'YES')]

,Age,Gender,Place(location where the patient lives),Duration of alcohol consumption(years),Quantity of alcohol consumption (quarters/day),Type of alcohol consumed,Hepatitis B infection,Hepatitis C infection,Diabetes Result,Blood pressure (mmhg),...,Indirect (mg/dl),Total Protein (g/dl),Albumin (g/dl),Globulin (g/dl),A/G Ratio,AL.Phosphatase (U/L),SGOT/AST (U/L),SGPT/ALT (U/L),USG Abdomen (diffuse liver or not),Predicted Value(Out Come-Patient suffering from liver cirrosis or not)
S.NO,,,,,,,,,,,,,,,,,,,,,
1,55,male,rural,12,2,branded liquor,negative,negative,YES,138/90,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
2,55,male,rural,12,2,branded liquor,negative,negative,YES,138/90,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
3,55,male,rural,12,2,branded liquor,negative,negative,YES,138/90,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
6,55,male,urban,12,2,branded liquor,negative,negative,YES,138/90,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
7,55,male,urban,12,2,branded liquor,negative,negative,YES,138/90,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
8,55,male,rural,12,2,branded liquor,negative,negative,YES,138/90,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
9,55,male,rural,12,2,branded liquor,negative,negative,YES,138/90,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
10,55,male,rural,12,2,branded liquor,negative,negative,YES,138/90,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
11,45,male,urban,15,3,both,negative,negative,YES,140/100,...,0.4,NaN,2.3,4.0,0.575,139.0,56,48,YES,NaN
12,44,male,urban,15,2,branded liquor,negative,negative,YES,138/90,...,3.0,6.0,3.0,4.0,0.75,115.0,55,35,YES,YES
13,45,male,urban,15,3,both,Positive,Positive,YES,140/100,...,0.4,NaN,2.3,4.0,0.575,139.0,56,48,YES,YES
14,44,male,urban,15,2,branded liquor,negative,negative,YES,138/90,...,3.0,6.0,3.0,4.0,0.75,115.0,55,35,YES,YES
15,45,male,urban,15,3,both,negative,negative,YES,140/100,...,0.4,NaN,2.3,4.0,0.575,139.0,56,48,YES,YES
16,44,male,urban,15,2,branded liquor,negative,negative,YES,138/90,...,3.0,6.0,3.0,4.0,0.75,115.0,55,35,YES,YES
21,45,male,urban,15,3,both,negative,negative,YES,140/100,...,0.4,NaN,2.3,4.0,0.575,139.0,56,48,YES,YES
22,44,male,rural,15,2,branded liquor,negative,negative,YES,138/90,...,3.0,6.0,3.0,4.0,0.75,115.0,55,35,YES,YES
23,45,male,urban,15,3,both,negative,negative,YES,140/100,...,0.4,NaN,2.3,4.0,0.575,139.0,56,48,YES,YES
24,44,male,rural,15,2,branded liquor,negative,negative,YES,138/90,...,3.0,6.0,3.0,4.0,0.75,115.0,55,35,YES,YES
25,45,male,urban,15,3,both,negative,negative,YES,140/100,...,0.4,NaN,2.3,4.0,0.575,139.0,56,48,YES,YES
26,44,male,rural,12,2,branded liquor,negative,negative,YES,138/90,...,3.0,6.0,3.0,4.0,0.75,115.0,55,35,YES,YES
27,45,male,urban,15,3,both,negative,negative,YES,140/100,...,0.4,NaN,2.3,4.0,0.575,139.0,56,48,YES,YES
28,44,male,urban,15,2,branded liquor,negative,negative,YES,140/90,...,3.0,6.0,3.0,4.0,0.75,115.0,55,35,YES,YES
29,45,male,urban,15,3,both,negative,negative,YES,140/100,...,0.4,NaN,2.3,4.0,0.575,139.0,56,48,YES,YES
30,44,male,urban,15,2,branded liquor,negative,negative,YES,138/90,...,3.0,6.0,3.0,4.0,0.75,115.0,55,35,YES,YES
31,62,male,rural,40,2,both,negative,negative,YES,160/100,...,NaN,NaN,2.1,4.2,0.5,140.0,84,55,YES,NaN
32,62,male,rural,40,2,both,negative,negative,YES,160/100,...,NaN,NaN,2.1,4.2,0.5,140.0,84,55,YES,YES
33,62,male,rural,40,2,both,negative,negative,YES,160/100,...,NaN,NaN,2.1,4.2,0.5,140.0,84,55,YES,YES
34,62,male,rural,40,2,both,negative,negative,YES,160/100,...,NaN,NaN,2.1,4.2,0.5,140.0,84,55,YES,YES
36,62,male,urban,40,2,both,negative,negative,YES,160/100,...,NaN,NaN,2.1,4.2,0.5,140.0,84,55,YES,YES
37,62,male,urban,40,2,both,negative,negative,YES,140/100,...,NaN,NaN,2.1,4.2,0.5,140.0,84,55,YES,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
888,52,male,rural,17,2,both,negative,negative,YES,130/80,...,3.0,6.1,3.2,2.7,1.18,135.0,66,37,YES,YES
889,52,male,urban,17,2,both,negative,negative,YES,120/80,...,3.0,6.1,3.2,2.7,1.18,135.0,66,37,YES,YES
890,56,male,urban,19,2,both,negative,negative,YES,130/80,...,3.0,6.1,3.2,2.7,1.18,135.0,66,37,YES,YES
891,56,male,urban,16,2,country liquor,negative,negative,YES,130/80,...,3.0,6.1,3.2,2.7,1.18,135.0,66,37,YES,YES
892,43,male,urban,20,2,both,negative,negative,YES,130/90,...,NaN,NaN,2.5,4.1,0.6,180.0,94,46,YES,NaN
893,43,male,urban,20,2,both,negative,negative,YES,130/90,...,NaN,NaN,2.5,4.1,0.6,180.0,94,46,YES,YES
894,43,male,urban,20,2,both,negative,negative,YES,130/90,...,NaN,6.0,2.5,4.1,0.6,180.0,94,46,YES,YES
897,43,male,urban,20,2,both,negative,negative,YES,130/90,...,NaN,3.4,2.5,4.1,0.6,180.0,94,46,YES,YES
898,43,male,urban,20,2,both,negative,negative,YES,130/90,...,NaN,NaN,2.5,4.1,0.6,180.0,94,46,YES,YES
899,43,male,urban,20,2,both,negative,negative,YES,130/90,...,NaN,NaN,2.5,4.1,0.6,180.0,94,46,YES,YES
900,43,male,urban,20,2,both,negative,negative,YES,130/90,...,NaN,3.4,2.5,4.1,0.6,180.0,94,46,YES,YES
901,43,male,urban,20,2,both,negative,negative,YES,130/90,...,NaN,NaN,2.5,4.1,0.6,180.0,94,46,YES,YES
902,55,male,rural,15,2,country liquor,negative,negative,YES,138/88,...,3.0,6.0,3.0,4.0,0.75,150.0,55,33,YES,YES
903,55,male,rural,15,2,country liquor,Positive,Positive,YES,138/88,...,3.0,6.0,3.0,4.0,0.75,150.0,55,33,YES,YES
904,55,male,rural,15,2,country liquor,negative,negative,YES,138/88,...,3.0,6.0,3.0,4.0,0.75,150.0,55,33,YES,YES
905,55,male,rural,15,2,country liquor,Positive,Positive,YES,138/88,...,3.0,6.0,3.0,4.0,0.75,150.0,55,33,YES,YES
907,55,male,rural,15,2,country liquor,negative,negative,YES,138/88,...,3.0,6.0,3.0,4.0,0.75,150.0,55,33,YES,YES
908,55,male,rural,15,2,country liquor,negative,negative,YES,138/88,...,3.0,6.0,3.0,4.0,0.75,150.0,55,33,YES,YES
909,58,male,rural,15,2,country liquor,negative,negative,YES,138/88,...,3.0,6.0,3.0,4.0,0.75,150.0,55,33,YES,YES
910,55,male,rural,15,2,country liquor,Positive,negative,YES,138/88,...,3.0,6.0,3.0,4.0,0.75,150.0,55,33,YES,YES
911,44,male,rural,15,2,country liquor,negative,negative,YES,138/88,...,3.0,6.0,3.0,4.0,0.75,150.0,55,33,YES,YES
913,49,male,rural,15,3,both,negative,negative,YES,130/90,...,6.6,3.4,NaN,NaN,NaN,150.0,56,43,no,YES
915,49,male,rural,15,3,both,negative,negative,YES,130/90,...,6.6,3.4,NaN,NaN,NaN,150.0,56,43,no,YES
917,49,male,rural,15,3,both,negative,negative,YES,130/90,...,6.6,3.4,NaN,NaN,NaN,150.0,56,43,no,YES
919,49,male,rural,15,3,both,negative,negative,YES,130/90,...,6.6,3.4,NaN,NaN,NaN,150.0,56,43,no,YES
921,49,male,rural,15,3,both,negative,negative,YES,130/90,...,6.6,3.4,NaN,NaN,NaN,150.0,56,43,no,YES
923,49,male,urban,15,3,both,negative,negative,YES,130/90,...,6.6,3.4,NaN,NaN,NaN,150.0,56,43,no,YES
925,49,male,rural,15,3,branded liquor,negative,negative,YES,130/90,...,6.6,3.4,NaN,NaN,NaN,150.0,56,43,no,YES
927,49,male,rural,15,3,both,negative,negative,YES,130/90,...,6.6,3.4,NaN,NaN,NaN,150.0,56,43,no,YES
929,49,male,rural,15,3,both,negative,negative,YES,120/90,...,6.6,3.4,NaN,NaN,NaN,150.0,56,43,no,YES

### 3. Find where more people consume alcohol in rural or urban?

In [80]:
hc_df['Place(location where the patient lives)'].value_counts()

rural    453
urban    362
 ocun      1
Name: Place(location where the patient lives), dtype: int64

In [81]:
# People from Rural place consume more alcohol

### 4. Find average age of male and female who consume alcohol.

In [116]:
print("Avg age of Male :",hc_df[(hc_df.Gender == 'male')].Age.mean() )

Avg age of Male : 50.115020297699594

In [115]:
print("Avg age of Male :",hc_df[(hc_df.Gender == "female")].Age.mean() )

Avg age of Male : 52.577669902912625

### 5. Display distribution for different type of alcohol.

In [95]:
hc_df["Type of alcohol consumed"].value_counts()

country liquor     478
both               288
branded liquor     183
 branded liquor      1
Name: Type of alcohol consumed, dtype: int64

In [96]:
# Cleanning Data
def f(d):
    if (d == 'branded liquor') | (d == ' branded liquor'):
        return 'branded liquor'
    else:
        return d
hc_df["Type of alcohol consumed"] = hc_df["Type of alcohol consumed"].map(f)

In [97]:
hc_df["Type of alcohol consumed"].value_counts()

country liquor    478
both              288
branded liquor    184
Name: Type of alcohol consumed, dtype: int64

### 6. Display average age of people who has diabetes positive.

In [103]:
hc_df[hc_df['Diabetes Result'] == 'YES'].Age.mean()

50.68006182380216

### 7. Find is there any missing value of age in given data.

In [105]:
hc_df.info()
# as in the op we can see that there were 950 entries in total
#and in the Age col also their are total 950 non-null entries.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 950 entries, 1 to 950
Data columns (total 41 columns):
Age                                                                        950 non-null int64
Gender                                                                     950 non-null object
Place(location where the patient lives)                                    816 non-null object
Duration of alcohol consumption(years)                                     950 non-null int64
Quantity of alcohol consumption (quarters/day)                             950 non-null int64
Type of alcohol consumed                                                   950 non-null object
Hepatitis B infection                                                      950 non-null object
Hepatitis C infection                                                      950 non-null object
Diabetes Result                                                            950 non-null object
Blood pressure (mmhg)                                                      950 non-null object
Obesity                                                                    950 non-null object
Family history of cirrhosis/ hereditary                                    950 non-null object
TCH                                                                        591 non-null float64
TG                                                                         591 non-null object
LDL                                                                        591 non-null object
HDL                                                                        582 non-null float64
Hemoglobin  (g/dl)                                                         950 non-null float64
PCV  (%)                                                                   920 non-null float64
RBC  (million cells/microliter)                                            398 non-null float64
MCV   (femtoliters/cell)                                                   941 non-null float64
MCH  (picograms/cell)                                                      292 non-null float64
MCHC  (grams/deciliter)                                                    278 non-null float64
Total Count                                                                940 non-null float64
Polymorphs  (%)                                                            950 non-null float64
Lymphocytes  (%)                                                           950 non-null float64
Monocytes   (%)                                                            941 non-null float64
Eosinophils   (%)                                                          942 non-null float64
Basophils  (%)                                                             901 non-null float64
Platelet Count  (lakhs/mm)                                                 950 non-null float64
Total Bilirubin    (mg/dl)                                                 950 non-null object
Direct    (mg/dl)                                                          950 non-null float64
Indirect     (mg/dl)                                                       895 non-null float64
Total Protein     (g/dl)                                                   889 non-null float64
Albumin   (g/dl)                                                           941 non-null float64
Globulin  (g/dl)                                                           921 non-null float64
A/G Ratio                                                                  591 non-null object
AL.Phosphatase      (U/L)                                                  940 non-null float64
SGOT/AST      (U/L)                                                        950 non-null int64
SGPT/ALT (U/L)                                                             950 non-null int64
USG Abdomen (diffuse liver or  not)                                        950 non-null object
Predicted Value(Out Come-Patient suffering from liver  cirrosis or not)    896 non-null object
dtypes: float64(21), int64(5), object(15)
memory usage: 256.1+ KB

8. ### If gender is male and age is less than 35 then change diabetes result to NO .

In [106]:
hc_df[(hc_df.Gender =='male') & (hc_df.Age < 35)]

Empty DataFrame
Columns: [Age, Gender, Place(location where the patient lives), Duration of alcohol consumption(years), Quantity of alcohol consumption (quarters/day), Type of alcohol consumed, Hepatitis B infection, Hepatitis C infection, Diabetes Result, Blood pressure (mmhg), Obesity, Family history of cirrhosis/ hereditary, TCH, TG, LDL, HDL, Hemoglobin  (g/dl), PCV  (%), RBC  (million cells/microliter), MCV   (femtoliters/cell), MCH  (picograms/cell), MCHC  (grams/deciliter), Total Count, Polymorphs  (%) , Lymphocytes  (%), Monocytes   (%), Eosinophils   (%), Basophils  (%), Platelet Count  (lakhs/mm), Total Bilirubin    (mg/dl), Direct    (mg/dl), Indirect     (mg/dl), Total Protein     (g/dl), Albumin   (g/dl), Globulin  (g/dl), A/G Ratio, AL.Phosphatase      (U/L), SGOT/AST      (U/L), SGPT/ALT (U/L), USG Abdomen (diffuse liver or  not), Predicted Value(Out Come-Patient suffering from liver  cirrosis or not)]
Index: []

[0 rows x 41 columns]

In [107]:
# Conclusion there are no records that fall under this condition.

### 9. Find all record where Place is missing.

In [109]:
hc_df[hc_df['Place(location where the patient lives)'].isnull()]

,Age,Gender,Place(location where the patient lives),Duration of alcohol consumption(years),Quantity of alcohol consumption (quarters/day),Type of alcohol consumed,Hepatitis B infection,Hepatitis C infection,Diabetes Result,Blood pressure (mmhg),...,Indirect (mg/dl),Total Protein (g/dl),Albumin (g/dl),Globulin (g/dl),A/G Ratio,AL.Phosphatase (U/L),SGOT/AST (U/L),SGPT/ALT (U/L),USG Abdomen (diffuse liver or not),Predicted Value(Out Come-Patient suffering from liver cirrosis or not)
S.NO,,,,,,,,,,,,,,,,,,,,,
191,50,male,NaN,28,3,both,Positive,Positive,YES,112/70,...,3.5,3.0,1.4,1.6,NaN,114.0,204,108,YES,NaN
199,50,male,NaN,28,3,both,Positive,Positive,YES,112/70,...,3.5,3.0,1.4,1.6,NaN,114.0,204,108,YES,YES
200,44,male,NaN,25,3,both,Positive,Positive,YES,112/70,...,3.5,3.0,1.4,1.6,NaN,114.0,204,108,YES,YES
246,42,male,NaN,20,1,country liquor,negative,negative,YES,140/84,...,1.3,6.8,3.0,3.8,0.78,122.0,96,34,YES,YES
296,46,male,NaN,18,2,country liquor,negative,negative,YES,130/80,...,3.0,6.0,3.0,4.0,0.75,115.0,68,35,YES,YES
298,46,male,NaN,16,2,country liquor,negative,negative,YES,130/80,...,3.0,6.0,3.0,4.0,0.75,115.0,68,35,YES,YES
328,48,male,NaN,18,3,country liquor,negative,negative,YES,130/90,...,2.0,7.0,2.1,3.9,NaN,140.0,56,42,YES,YES
332,57,male,NaN,27,2,country liquor,negative,negative,YES,140/90,...,2.0,7.6,5.4,2.2,2.45,137.0,66,58,YES,YES
335,50,male,NaN,20,3,branded liquor,negative,negative,YES,130/80,...,1.6,7.4,2.6,4.8,NaN,126.0,59,44,YES,YES
358,48,male,NaN,18,2,country liquor,negative,negative,YES,110/70,...,3.0,6.2,2.5,3.1,NaN,124.0,54,40,YES,YES
361,48,male,NaN,25,2,country liquor,negative,negative,YES,140/84,...,2.0,5.8,2.2,3.6,NaN,140.0,120,44,YES,YES
376,56,female,NaN,32,1,country liquor,Positive,Positive,NO,126/70,...,2.0,6.4,1.9,4.6,00:01:02.200000,206.0,142,116,YES,NaN
377,60,male,NaN,36,2,both,negative,negative,NO,102/70,...,2.1,7.0,2.1,4.9,01:02:00,156.0,76,49,YES,NaN
378,56,female,NaN,32,1,country liquor,Positive,Positive,NO,126/70,...,2.0,6.4,1.9,4.6,NaN,206.0,142,116,YES,YES
379,60,male,NaN,36,2,both,negative,negative,YES,102/70,...,2.1,7.0,2.1,4.9,NaN,156.0,76,49,YES,YES
392,56,female,NaN,32,1,country liquor,Positive,Positive,NO,126/70,...,2.0,6.4,1.9,4.6,00:01:02.200000,206.0,142,116,YES,YES
393,60,male,NaN,36,2,both,negative,negative,NO,102/70,...,2.1,7.0,2.1,4.9,01:02:00,156.0,76,49,YES,YES
394,56,female,NaN,32,1,country liquor,Positive,Positive,NO,126/70,...,2.0,6.4,1.9,4.6,00:01:02.200000,206.0,142,116,YES,YES
395,60,male,NaN,36,2,both,negative,negative,NO,102/70,...,2.1,7.0,2.1,4.9,01:02:00,156.0,76,49,YES,YES
396,55,female,NaN,20,2,country liquor,Positive,Positive,NO,70/60,...,1.5,5.0,2.5,2.5,01:01:00,152.0,172,180,YES,NaN
397,52,male,NaN,30,2,country liquor,negative,negative,YES,90/60,...,2.4,4.0,2.0,2.0,01:01:00,111.0,104,74,YES,NaN
398,78,female,NaN,40,4,country liquor,negative,negative,YES,80/60,...,2.0,6.0,3.2,2.8,00:01:00.875000,160.0,75,82,YES,NaN
399,42,male,NaN,18,2,country liquor,negative,negative,YES,130/90,...,4.4,5.6,1.6,4.0,00:01:03.500000,98.0,32,23,YES,NaN
400,55,male,NaN,22,2,both,negative,negative,NO,114/70,...,3.0,6.1,1.6,4.4,01:03:00,106.0,66,41,YES,NaN
401,35,female,NaN,16,2,country liquor,negative,negative,NO,116/80,...,2.2,7.1,2.0,5.1,01:03:00,76.0,59,48,YES,NaN
402,62,male,NaN,30,2,country liquor,negative,negative,NO,110/70,...,4.0,4.0,0.9,3.1,01:03:00,184.0,112,97,YES,NaN
403,38,female,NaN,16,1,country liquor,negative,negative,NO,116/70,...,1.0,5.0,3.0,2.0,1.5:1,96.0,90,60,YES,NaN
404,56,male,NaN,22,2,branded liquor,negative,negative,NO,118/70,...,4.4,4.0,1.5,2.5,0.6:1,102.0,94,86,YES,NaN
405,38,male,NaN,24,2,country liquor,negative,negative,NO,120/70,...,1.0,4.0,2.0,2.0,01:01:00,100.0,94,106,YES,NaN
406,46,male,NaN,22,2,both,negative,negative,NO,98/60,...,1.8,5.0,2.0,3.0,0.6:1,100.0,96,94,YES,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683,60,male,NaN,30,3,both,negative,negative,YES,112/70,...,3.0,4.0,2.0,2.0,01:01:00,104.0,102,72,YES,YES
684,42,female,NaN,12,4,country liquor,negative,negative,NO,120/70,...,3.0,4.0,1.1,3.0,01:03:00,98.0,74,42,YES,YES
685,50,male,NaN,25,2,branded liquor,Positive,Positive,YES,100/60,...,2.5,3.0,1.2,2.8,02:03:00,180.0,200,106,YES,YES
686,42,male,NaN,22,3,both,negative,negative,NO,110/70,...,3.0,3.0,1.2,1.8,02:03:00,184.0,72,40,YES,YES
687,62,male,NaN,30,3,branded liquor,negative,negative,YES,98/72,...,3.6,3.0,2.0,1.0,02:01:00,114.0,70,72,YES,YES
688,45,male,NaN,10,2,branded liquor,negative,negative,NO,108/72,...,0.6,4.0,2.0,2.0,01:01:00,112.0,100,60,YES,YES
689,42,male,NaN,20,4,branded liquor,negative,negative,NO,110/70,...,4.0,3.0,1.0,2.0,01:02:00,112.0,74,40,YES,YES
690,42,male,NaN,15,2,branded liquor,Positive,Positive,NO,112/70,...,1.2,4.0,3.0,1.0,03:01:00,110.0,70,40,YES,YES
691,60,male,NaN,30,3,both,negative,negative,NO,112/70,...,3.0,4.0,2.0,2.0,01:01:00,104.0,102,72,YES,YES
692,42,male,NaN,12,4,country liquor,negative,negative,NO,110/70,...,3.0,4.0,1.1,3.0,01:03:00,98.0,74,42,YES,YES
693,50,male,NaN,25,1,both,Positive,Positive,YES,100/60,...,2.5,3.0,1.2,2.8,02:03:00,180.0,200,106,YES,YES
694,42,male,NaN,22,3,both,Positive,Positive,YES,110/70,...,3.0,3.0,1.2,1.8,02:03:00,184.0,72,40,YES,YES
695,62,male,NaN,30,3,branded liquor,negative,negative,YES,112/70,...,3.6,3.0,2.0,1.0,02:01:00,114.0,70,72,YES,YES
701,57,male,NaN,25,1,country liquor,negative,negative,YES,140/80,...,2.7,6.0,1.8,2.5,0.72,156.0,67,58,YES,YES
710,46,male,NaN,18,2,country liquor,negative,negative,YES,120/80,...,0.9,6.0,4.0,2.0,02:01:00,180.0,84,96,YES,YES
731,54,male,NaN,20,2,country liquor,negative,negative,YES,140/80,...,1.4,7.2,2.9,4.3,NaN,148.0,76,48,YES,YES
732,58,male,NaN,28,2,branded liquor,negative,negative,YES,130/80,...,3.0,6.2,3.2,3.0,NaN,148.0,68,24,YES,YES
733,54,male,NaN,18,2,country liquor,negative,negative,YES,130/70,...,2.4,6.6,3.6,3.0,NaN,129.0,66,38,YES,YES
769,32,female,NaN,14,2,branded liquor,negative,negative,YES,140/90,...,1.2,5.8,3.2,2.6,1.5:1,119.0,54,46,YES,YES
771,50,male,NaN,14,2,country liquor,negative,negative,YES,140/80,...,3.7,6.2,2.8,3.1,NaN,117.0,56,48,YES,YES
805,48,male,NaN,20,2,branded liquor,Positive,Positive,NO,96/62,...,1.5,5.0,2.5,2.5,01:01:00,124.0,110,70,YES,NaN
813,48,male,NaN,20,2,branded liquor,Positive,Positive,NO,96/62,...,1.5,5.0,2.5,2.5,01:01:00,124.0,110,70,YES,YES
834,42,male,NaN,10,3,branded liquor,negative,negative,NO,120/70,...,0.4,4.0,2.2,2.0,1900-01-01 00:00:00,100.0,72,60,YES,NaN
842,46,male,NaN,10,3,branded liquor,negative,negative,NO,120/70,...,0.4,4.0,2.2,2.0,01:01:00,100.0,72,60,YES,YES
843,42,male,NaN,10,3,branded liquor,negative,negative,NO,120/70,...,0.4,4.0,2.2,2.0,01:01:00,100.0,72,60,YES,YES
878,38,male,NaN,10,3,both,negative,negative,YES,140/100,...,NaN,6.1,2.1,4.3,0.48,130.0,56,48,YES,YES
912,50,male,NaN,20,3,both,negative,negative,NO,110/70,...,3.0,4.0,3.0,1.0,03:01:00,120.0,110,70,no,NaN
918,50,female,NaN,20,3,both,negative,negative,NO,110/70,...,3.0,4.0,3.0,1.0,03:01:00,120.0,110,70,no,YES
928,50,male,NaN,18,3,both,negative,negative,NO,110/70,...,3.0,4.0,3.0,1.0,03:01:00,120.0,110,70,no,YES
930,50,male,NaN,20,3,both,negative,negative,NO,110/70,...,3.0,4.0,3.0,1.0,03:01:00,120.0,110,70,no,YES

### 10. Change place to urban if gender is female else rural.

In [121]:
Q10DF = hc_df[(hc_df['Place(location where the patient lives)'] == 'rural')& (hc_df.Gender == 'female')]
print(Q10DF.shape)
Q10DF.head()

(108, 41)

,Age,Gender,Place(location where the patient lives),Duration of alcohol consumption(years),Quantity of alcohol consumption (quarters/day),Type of alcohol consumed,Hepatitis B infection,Hepatitis C infection,Diabetes Result,Blood pressure (mmhg),...,Indirect (mg/dl),Total Protein (g/dl),Albumin (g/dl),Globulin (g/dl),A/G Ratio,AL.Phosphatase (U/L),SGOT/AST (U/L),SGPT/ALT (U/L),USG Abdomen (diffuse liver or not),Predicted Value(Out Come-Patient suffering from liver cirrosis or not)
S.NO,,,,,,,,,,,,,,,,,,,,,
5,55,female,rural,12,2,branded liquor,negative,negative,YES,138/90,...,3.0,6.0,3.0,4.0,0.75,150.0,56,34,YES,YES
51,49,female,rural,20,2,country liquor,Positive,negative,YES,110/70,...,1.7,6.5,3.2,2.8,1.214,151.0,48,88,YES,YES
52,50,female,rural,20,2,country liquor,Positive,negative,YES,110/70,...,1.7,6.5,3.2,2.8,1.214,151.0,48,88,YES,YES
53,49,female,rural,20,2,country liquor,Positive,Positive,YES,110/70,...,1.7,6.5,3.2,2.8,1.214,151.0,48,88,YES,YES
54,49,female,rural,20,2,country liquor,Positive,negative,YES,110/70,...,1.7,6.5,3.2,2.8,1.214,151.0,48,88,YES,YES

In [122]:
def f(f):
    if (f.Gender == 'female'):
        return 'urban'
    else:
        return f['Place(location where the patient lives)']
hc_df['Place(location where the patient lives)'] = hc_df.apply(f, axis=1)

In [123]:
# Cross Check
hc_df[(hc_df['Place(location where the patient lives)'] == 'rural')& (hc_df.Gender == 'female')]

Empty DataFrame
Columns: [Age, Gender, Place(location where the patient lives), Duration of alcohol consumption(years), Quantity of alcohol consumption (quarters/day), Type of alcohol consumed, Hepatitis B infection, Hepatitis C infection, Diabetes Result, Blood pressure (mmhg), Obesity, Family history of cirrhosis/ hereditary, TCH, TG, LDL, HDL, Hemoglobin  (g/dl), PCV  (%), RBC  (million cells/microliter), MCV   (femtoliters/cell), MCH  (picograms/cell), MCHC  (grams/deciliter), Total Count, Polymorphs  (%) , Lymphocytes  (%), Monocytes   (%), Eosinophils   (%), Basophils  (%), Platelet Count  (lakhs/mm), Total Bilirubin    (mg/dl), Direct    (mg/dl), Indirect     (mg/dl), Total Protein     (g/dl), Albumin   (g/dl), Globulin  (g/dl), A/G Ratio, AL.Phosphatase      (U/L), SGOT/AST      (U/L), SGPT/ALT (U/L), USG Abdomen (diffuse liver or  not), Predicted Value(Out Come-Patient suffering from liver  cirrosis or not)]
Index: []

[0 rows x 41 columns]

In [ ]:
# Sucessfully updated..